@import "tailwindcss";
@source "./Landingpage/templates/**/*.html";
@source "./Landingpage/templates/landingpage/components/footer.html";
@source "./Landingpage/static/landing/js/**/*.js";

@theme {
  --servelec-primary: #34a853;
  --servelec-light: #70c484;
  --servelec-dark: #222e25;
  --servelec-neutral: #f8f8f8;
  --servelec-text: #4a4a4a;
}

@utility bg-servelec-* {
  background-color: --value(--servelec-*);
}

@utility text-servelec-* {
  color: --value(--servelec-*);
}
